{% extends 'elibrary/base2.html' %}
{% load static %}
{% load humanize %}
{% block title %}{{tag}}{% endblock %}
{% block content %}
    <!-- Question List -->
    <main role="main" class="container">
        {% for quest in quests %}
            <article class="media content-section">
                <img class="rounded-circle article-img" src= "{{ quest.user.profile.image.url }}">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="#">{{ quest.user.username }}</a>
                        <a href="#" class="mr-2">{{quest.answer_set.count}} Answers</a>
                        <a href="#" class="mr-2">{{quest.total_comments}} Comments</a>
                        <small class="text-muted">{{ quest.add_time|date:"F d, Y" }}</small>
                    </div>
                    <h2><a class="article-title" href="/detail/{{quest.id}}">{{ quest.title }}</a></h2>
                    <p class="article-content">{{ quest.detail }}</p>
                 </div>
            </article>
        {% endfor %}
    </main>
{% endblock %}

